<amexio-row>
    <amexio-column
                    size="3"
                    fit="false">
    <amexio-card
        [header]="true"
        [header-align]="'left'"
        [footer]="false">           
    <amexio-header>
                Employee List
    </amexio-header>
            <amexio-body>
                <amexio-listbox
                [height]="400" 
                [header]="'Contacts'" 
                [search-placeholder]="'Search Contacts'" 
                [data]="localData"
                [filter]="true" 
                [data-reader]="'response.data'" 
                [display-field]="'name_official'" 
                (selectedRows)="getSelectedData($event)">
                </amexio-listbox>
            </amexio-body>            
    </amexio-card>
    </amexio-column>
    <amexio-column
                    size="9"
                    fit="false">
            <amexio-card
                [header]="true"
                [header-align]="'left'"
                [footer]="false">
                    <amexio-header>
                        Employee Details
                    </amexio-header>
                    <amexio-body>
                    
                    </amexio-body>
                    <amexio-action>
                        
                    </amexio-action>
            </amexio-card>
    </amexio-column>
</amexio-row>