//   .navbar-logo {
//     width: 50px!important;
// }


//list box search box fix
.search {
    width: 35px!important;
}

//top right menu
.advance-menu {
    color:black; 
    width: 150px;
    padding: 5px;
}

.advance-menu:hover {
    background-color: #2196f3;
    color: black;
     width: 150px;
}
// 
amexio-homepage-centerpanel .homepage-centerpanel {
    padding: 5px !important;
    padding-top: 5px !important;
}
