
  .login-page {
    min-width: 400px;
    min-height:360px;
    margin-right: 100px;
    margin-top:100px;
  }

//list box search box fix
.search {
    width: 35px!important;
}

.app-background {
    background-color:whitesmoke !important;
}

//top right menu
.advance-menu {
    color:black; 
    width: 150px;
    padding: 5px;
}

.advance-menu:hover {
    background-color: #2196f3;
    color: black;
     width: 150px;
}
// 
amexio-homepage-centerpanel .homepage-centerpanel {
    padding: 5px !important;
    padding-top: 5px !important;
}
